/* .filter{
  margin-bottom: 40px;
} */

/* .filter-btn{
  background-color: white;
  font-family: 'montserrat';
  padding: 10px 15px;
  border:none;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  transition: opacity 0.4s;
  margin-top:10px;
}

.filter-btn:hover{
  opacity: 0.4;
  cursor: pointer;
}

.filter-btn-onClick{
    background-color: white;
    font-family: 'montserrat';
    padding: 10px 15px;
    border:none;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    opacity: 0.4;
} */
.filters-container{
  display:flex;
  align-items:center;
  margin-bottom: 40px;
}
.filter{
  margin-left: 14px;
}